* {
  color: #333;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background-color: lightgray;
  justify-content: center;
}

button {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

button:hover {
  background-color: #d6d6d6;
}

.header {
  position: fixed;
  text-align: center;
  font-size: 45px;
  background: lightgrey;
  padding: 20px;
  margin-top: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.main-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 60px;
}

.grid-container {
  display: grid;
  height: 600px;
  width: 600px;
  justify-content: center;
  align-content: center;
}

.cell {
  border: 1px dotted black;
  background-color: #f2f2f2;
  flex: 1;
}

.cellDown {
  background-color: black;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 20px;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  appearance: none;
  height: 25px;
  outline: none;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
